.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
tests/
.pytest_cache
.ruff_cache
.mypy_cache
docs/
*.md
!README.md
.github
htmlcov
.coverage
*.egg-info
build
dist
*.sqlite
*.sqlite3
*.sqlite-journal
applications/
chrome-workers/
apply-workers/
screenshots/
*.log
.env
.env.*
!.env.example
.idea
.vscode
